.head-container {
  display: flex;
  background-color: #f5f5f5;
  height: 100vh;
  width: 100vw;
  margin-left: -23%;
  .eventext {
    
    margin-left: 2%;
    font-family: Apercu Pro bolder;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #4f4f4f;
    margin-top: 5%;
  }
  .spbutton{
    margin-left: 55%;
    margin-top: 5.5%;
  }
  .evebutton {
    
    
    /* orange */

    background: #f15a29;
    border-radius: 8px;
    .btext {
      position: static;
      left: 13.79%;
      right: 13.79%;
      top: 27.03%;
      bottom: 27.03%;

      font-family: Apercu Pro bolder;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;

      /* white */

      color: #ffffff;

      /* Inside Auto Layout */

      flex: none;
      order: 0;
      align-self: center;
      margin: 10px 0px;
    }
  }
}
